* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, Inter, Poppins, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quiz-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #007bff;
  width: 300px;
  text-align: center;
  transition: 0.4s;
}
#question {
  font-size: 18px;
  margin-bottom: 15px;
}
#options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.option {
  padding: 10px;
  border: none;
  background: transparent;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0 0 3px #007bff;
}
.option.active {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
  box-shadow: 0 0 10px #007bff;
}
.option:hover:not(.active) {
  background: #007bff22;
  box-shadow: 0 0 10px #007bff;
}
.btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}
.btn:hover {
  background: #0056b3;
  box-shadow: 0 0 10px #007bff;
}
.btn-group {
  display: flex;
  gap: 5px;
}
.btn-group > * {
  flex-grow: 1;
}
.hidden {
  display: none;
}
#progressContainer {
  position: relative;
  border: 5px solid #fff;
  margin: -20px -20px 0;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  z-index: 1;
  overflow: hidden;
}
#progressBar {
  position: absolute;
  inset: 0;
  background: #007bff88;
  z-index: -1;
  transition: 0.5s;
}
